asgiref==3.8.1
backports.zoneinfo==0.2.1
bcml==3.10.8
botw-utils==0.2.3
cefpython3==66.1
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==2.0.12
clr_loader==0.2.7.post0
customtkinter==5.2.2
darkdetect==0.8.0
Django==4.2.27
idna==3.10
mysql-connector-python==8.0.30
oead==1.2.9.post4
packaging==21.3
pillow==10.4.0
proxy-tools==0.1.0
pycparser==2.22
pyparsing==3.1.4
pythonnet==3.0.5
pywebview==3.7.2
reportlab==4.4.3
requests==2.27.1
rstb==1.2.2
sqlparse==0.5.4
tk==0.1.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.20
xxhash==3.5.0
