{% extends "index.html" %} <!-- Aqui se llama index.html -->

{% block contenido %}
 <!-- Creo un lugar de posicion para mi plantilla de autor en este caso para que salga el contendio de index.html--> 
<h2> AUTORES </h2>
<ul> {% for autor in autores%}
    <li> 
        <td>{{ autor.nombre }}
        </td>
        <td>
            {{ autor.apellido }}
        </td> 
        <td>{{ autor.bibliografia }}
        </td>
    </li>
    <td>
        <a href="{% url 'editar_autores' autor.id%}"> Editar </a>
    </td>
    {% endfor %}
</ul>
{% endblock %}