{% extends "index.html" %} 

{% block contenido %}

<h2> CREAR PRESTAMO </h2>
<form method="POST">
    {% csrf_token %} <!-- Crea una cokies de sesion, obligando a que se cree por una persona y no se automatice por un robot-->
    <label for = "id_libro" name="libro"> Libro: </label>
    <select type = "text" id="id_libro" name="libro" required><br/>
        <option value ="">--Seleccionar Libro--</option>
        {% for libro in libros %}
        <option value = "{{libro.id}}">{{libro.titulo}}</option>
        {%endfor%}
    </select><br/>

    <label for = "id_usuario" name="autor"> Usuario: </label>
    <select type = "text" id="id_usuario" name="usuario" required><br/>
        <option value ="">--Seleccionar Usuario</option>
        {% for usuario in usuarios %}
            <option value = "{{usuario.id}}">{{usuario.username}}</option>
        {%endfor%}
    </select><br/>
    <label for = "id_fecha_prestamos" name="fecha_prestamos"> Fecha Prestamo: </label>
    <input type="date" id="id_fecha_prestamos" name="fecha_prestamos" value ="{{fecha}}" required> <br/> 

    <button type="submit">Crear</button>
</form>
{% endblock %}